<p-sidebar [(visible)]="display" [fullScreen]="true">
    <div class="container py-5">
        <div class="row d-flex justify-content-center py-5">
            <h1>Hi I'm Dave</h1>
        </div>
        <div class="row d-flex justify-content-center py-5">
            <h5>I've been trained by the CodeStack Academy in Stockton CA.
                I'm trained in front end development.
            </h5>
            <h5>I'm experienced in HTML, CSS, JS, ANGULAR, and C#.
                Contact me any time. I love to work.
            </h5>
        </div>
    </div>
</p-sidebar>

<p (click)="display = true" label="Show">About</p>